boto3
duckdb
fsspec
genson
google-api-python-client
httplib2
oauth2client
pandas
psycopg2>=2.6.2
python-dateutil
PyYAML
sqlalchemy
sumologic-sdk
tabulate
xlrd
xlwt
mypy
types-PyYAML
types-python-dateutil
types-requests
types-tabulate
types-boto3
codespell
flake8
